ion-content {
  display: inline-block;
}

#topo{
  padding-top: 50px;
}

#pagina-detalhe-arquivo {
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
