<ion-modal-view class="pagina-login">
  <ion-content >
    <img class="logo" src="../img/myfilelogo-01.png">

      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="User name">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Senha">
        </label>
        <button class="button button-block button-positive" ng-click="login()" type="submit">Log in</button>
        <button class="button button-block" ng-click="cadastro()" type="submit" id="botao-cadastro">Cadastro</button>
        <div class="row">
            <div class="col facebook">
              <i class="ion-social-facebook"></i>
            </div>
            <div class="col google">
              <i class="ion-social-google"></i>
            </div>
        </div>
        
      </div>


    <div class="texto-rodape">
      <p>Copyright © 2017</p>
    </div>
  </ion-content>
</ion-modal-view>

